*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   font-family:monospace;
}
.loginpage{
   width:100%;
   height:100vh;
  background: url(../../assets/bg3.jpg)no-repeat;
  background-size: cover;
padding-top:90px;
 
}

 .loginBox{
    width:25%;
    height:500px;
   
    background:rgb(248, 237, 237);
    margin-left:auto;
    margin-right: auto;
    margin-top:50px;
    border:2px solid greenyellow;
    border-radius: 20px;
   
   
 }
 h1{
  width:100%;
  text-align: center;
  font-size:40px;
  margin-top: 10px;
  font-weight: 900;
  color:green;
  margin-bottom: 20px;
 }
 label{
   font-weight: 600;
   width:100%;
   margin-left:40px;
   font-size:30px;
   color:green;
 }
 input{
   margin-bottom: 10px;
   width:90%;
   height:40px;
   margin-top:-20px;
   margin-left: 5%;
   border:1px solid rgb(222, 215, 215);
   border-radius:25px;
   font-size:18px;
   padding-left:10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 550;
 }
 .button{
   margin-top:30px;
   width:35%;
   
   height:40px;
   margin-left:32.5%;
   font-size:30px;
   font-weight: 600;
   color:black;
   border-radius: 25px;
   background-color: rgb(59, 59, 238);
 }
 img{
  width:30px;
  height:30px;
  margin-left:-10px;
  margin-right:5px;
  margin-top:7px;
  border-radius:50%;
  margin-bottom:-5px;
}
 @media screen and (max-width:1300px) {
   .loginpage{
      width:100%;
      height:100vh;
     background: url(../../assets/bg4.jpg)no-repeat;
     background-size: cover;
     margin-top: 0px;
   
   }
   
    .loginBox{
       width:25%;
       height:500px;
       min-width:600px;
       background:rgb(248, 237, 237);
       margin-left:auto;
       margin-right: auto;
       margin-top:90px;
       border:2px solid greenyellow;
       border-radius: 20px;
       min-width:300px;
      
    }
}

@media screen and (max-width:450px) {
   .loginpage{
      width:100%;
      height:100vh;
     background: url(../../assets/bg4.jpg)no-repeat;
     background-size: cover;
     padding-top:50px;
   }
   
    .loginBox{
       width:25%;
       height:500px;
       background:rgb(248, 237, 237);
       margin-left:auto;
       margin-right: auto;
       margin-top:90px;
       border:2px solid greenyellow;
       border-radius: 20px;
       min-width:300px;
      
    }
    .button{
       width:130px;
       margin-left: auto;
       margin-right: auto;
    }
}
